{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}
{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}
{% block content %}
    <div id="alert-border-1"
         class="p-4 text-blue-800 border-t-4 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800"
         role="alert">
        <div class="flex items-center">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
            </svg>
            <div class="ms-3 text-sm font-medium">
                <h3 class="text-xl font-medium">{% trans "Confirm Access" %}</h3>
                <p>{% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}</p>
            </div>
        </div>
        {% if reauthentication_alternatives %}
            <h3 class="text-lg font-medium mt-6 mb-4">{% translate "Alternative options" %}</h3>
            <div class="inline-flex rounded-md shadow-sm" role="group">
                {% for alt in reauthentication_alternatives %}
                    <a href="{{ alt.url }}"
                            class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                        {{ alt.description }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% block reauthenticate_content %}{% endblock %}
{% endblock content %}
