{% extends "account/base_entrance.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% translate "Sign In" %}
{% endblock head_title %}
{% block content %}
    <section class="bg-transparent min-h-screen grid place-content-center">
        <div class="flex flex-col items-center justify-center px-6 py-8 max-w-lg w-full mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 shadow-lg dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <section class="mb-6">
                        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-3">
                            {% translate "Enter Sign-In Code" %}
                        </h1>
                        {% setvar email_link %}
                            <a href="mailto:{{ email }}" class="text-blue-700 hover:underline dark:text-blue-500">{{ email }}</a>
                        {% endsetvar %}
                        <p class="text-sm text-gray-500 dark:text-gray-400">
                            {% blocktranslate %}We’ve sent a code to {{ email_link }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}
                        </p>
                    </section>
                    {% url 'account_confirm_login_code' as login_url %}
                    <form action="{{ login_url }}" method="post" id="formCodeLogin">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="{{ form.code.id_for_label }}"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                {{ form.code.label }}
                            </label>
                            {% render_field form.code class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                        </div>
                        {{ redirect_field }}
                    </form>
                    <form id="logout-from-stage"
                          method="post"
                          action="{% url 'account_logout' %}">
                        <input type="hidden" name="next" value="{% url 'account_login' %}">
                        {% csrf_token %}
                    </form>
                    <div class="flex items-center gap-2">
                        <button type="submit" form="logout-from-stage"
                                class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            {% translate "Cancel" %}
                        </button>
                        <button type="submit" form="formCodeLogin"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            {% translate "Sign In" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
