{% extends "account/base_entrance.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900 min-h-screen grid place-content-center">
        <div class="flex flex-col items-center justify-center px-6 py-8 max-w-md w-full mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 shadow-lg dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {% if token_fail %}
                            {% trans "Bad Token" %}
                        {% else %}
                            {% trans "Change Password" %}
                        {% endif %}
                    </h1>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            {% blocktrans %}The password reset link was invalid, possibly because it has already been
                                used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                                .{% endblocktrans %}
                        </p>
                    {% else %}
                        <form action="{{ action_url }}" method="post">
                            {% csrf_token %}
                            {{ redirect_field }}
                            <section class="space-y-4 mb-4">
                                <div>
                                    <label for="{{ form.password1.id_for_label }}"
                                           data-tooltip-target="tooltip-password"
                                           class="mb-2 text-sm font-medium text-gray-900 dark:text-white flex gap-2 items-center">
                                        <span>{{ form.password1.label }}</span>
                                        {% include "Components/Icons/circleInfo.html" with class="w-4 h-4" %}
                                    </label>
                                    {% render_field form.password1 placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                                    <div id="tooltip-password" role="tooltip"
                                         class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                        {{ form.password1.help_text }}
                                        <div class="tooltip-arrow" data-popper-arrow></div>
                                    </div>
                                </div>
                                <div>
                                    <label for="{{ form.password2.id_for_label }}"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        {{ form.password2.label }}
                                    </label>
                                    {% render_field form.password2 placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                                </div>
                            </section>
                            <button type="submit" name="action"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                {% trans 'Change Password' %}
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
