{% extends "account/base_entrance.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900 min-h-screen grid place-content-center">
        <div class="flex flex-col items-center justify-center px-6 py-8 max-w-md w-full mx-auto md:h-screen lg:py-0">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <div class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 shadow-lg dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {% trans "Password Reset" %}
                    </h1>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
