{% extends "account/base_manage_password.html" %}
{% load widget_tweaks %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <section class="bg-gray-50 bg-transparent min-h-screen grid place-content-center">
        <div class="flex flex-col items-center justify-center px-6 py-8 max-w-md w-full mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 shadow-lg dark:bg-gray-900 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {% trans "Change Password" %}
                    </h1>
                    {% url 'account_change_password' as action_url %}
                    <form action="{{ action_url }}" method="post">
                        {% csrf_token %}
                        {{ redirect_field }}
                        <section class="space-y-4 mb-4">
                            <div class="w-full">
                                <label for="{{ form.oldpassword.id_for_label }}"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.oldpassword.label }}</label>
                                {% render_field form.oldpassword class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            </div>
                            <div class="w-full">
                                <label data-tooltip-target="tooltip-password" for="{{ form.password1.id_for_label }}"
                                       class="flex gap-2 items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    <span>{{ form.password1.label }}</span>
                                    {% include "Components/Icons/circleInfo.html" with class="w-4 h-4" %}
                                </label>
                                {% render_field form.password1 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                                <div id="tooltip-password" role="tooltip"
                                     class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                    {{ form.password1.help_text }}
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            </div>
                            <div class="w-full">
                                <label for="{{ form.password2.id_for_label }}"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password2.label }}</label>
                                {% render_field form.password2 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            </div>
                        </section>
                        <a href="{% url 'account_reset_password' %}" class="block mb-2 text-sm text-blue-500 hover:underline">{% trans "Forgot Password?" %}</a>
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            {% trans "Change Password" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
