<div id="imageModal" tabindex="-1" aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Subir imagen
                </h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="imageModal">
                    {% include "Components/Icons/iconX.html" with class="w-4 h-4" %}
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 flex flex-col gap-4">
                <section>
                    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                         role="alert">
                        <span class="font-medium">Importante</span> Escoge una imagen y ajusta la selección a tu gusto.
                    </div>
                    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                         role="alert">Luego presiona el botón "Aceptar" y "Guardar" para guardar los cambios.
                    </div>
                </section>
                <figure class="w-full max-w-sm mx-auto overflow-hidden h-96 relative mb-2 flex-1">
                    <img src="{{ avatar_url }}" class="h-auto w-full rounded-lg mb-2 object-cover"
                         id="imgToCrop"
                         loading="lazy" alt="{{ text_alt }}">
                </figure>
                <form>
                    <label class="w-full mx-auto p-4 rounded-full transition bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-gray-600 flex justify-center cursor-pointer">
                        <input type="file" id="uploadImg" class="hidden">
                        <svg viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-upload w-5 h-5 text-blue-600 dark:text-blue-500">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                            <path d="M7 9l5 -5l5 5"></path>
                            <path d="M12 4l0 12"></path>
                        </svg>
                    </label>
                    <p class="text-blue-600 dark:text-blue-500 text-center my-2 text-sm">{{ help_text }}</p>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="imageModal" type="button" id="cropImage"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Aceptar
                </button>
                <button data-modal-hide="imageModal" type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>