<form action="{{ actionUrl }}" method="{{ method }}" id="{{ formId }}"
      class="flex items-center gap-2">
    <div class="relative">
        <label for="inputSearch" class="sr-only">Search</label>
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
            </svg>
        </div>
        <input type="search" id="inputSearch" name="search" autocomplete="off"
               class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Escribe el nombre y presiona Enter">
    </div>
    <div>
        <label for="pageSize"
               class="sr-only block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Regístros por página
        </label>
        <select id="pageSize" name="page_size"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="">Regístros por página</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>
    <div class="flex items-center gap-2 justify-end">
        <button type="reset" data-tooltip-target="tooltip-reset-form"
                class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm p-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            {% include "Components/Icons/iconX.html" with class="w-4 h-4" %}
        </button>
        <button type="submit" data-tooltip-target="tooltip-submit-form"
                class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm p-2 text-center dark:focus:ring-yellow-900">
            {% include "Components/Icons/iconSearch.html" with class="w-4 h-4" %}
        </button>
    </div>
</form>