html {
    scroll-behavior: smooth;
}

.border-b-custom-animated {
    position: relative;
}

.border-b-custom-animated::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #F6C753;
    left: 50%;
    bottom: -1px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.border-b-custom-animated:hover::after {
    width: 100%;
    left: 0;
}

.min-h-screen {
    min-height: 100vh !important;
}

.justify-evenly {
    justify-content: space-evenly;
}

.right-4 {
    right: 1rem /* 16px */;
}

.top-16 {
    top: 4rem /* 64px */;
}

.max-w-screen-2xl {
    max-width: 1536px;
}

.pt-60 {
    padding-top: 15rem /* 240px */;
}

.pb-60 {
    padding-bottom: 15rem /* 240px */;
}

.mb-60 {
    margin-bottom: 15rem /* 240px */;
}

.pt-\[4\.5rem\] {
    padding-top: 4.5rem /* 72px */;
}

.hover\:scale-105:hover {
    --tw-scale-x: 1.05 !important;
    --tw-scale-y: 1.05 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.backdrop-blur-\[10px\] {
    --tw-backdrop-blur: blur(10px) !important;
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
}

.z-\[99999\] {
    z-index: 99999 !important;
}

.grid-auto-1fr {
    grid-template-columns: auto 1fr;
}

.rounded-tl-none {
    border-top-left-radius: 0;
}

.rounded-tr-none {
    border-top-right-radius: 0;
}

.rounded-br-none {
    border-bottom-right-radius: 0;
}

.rounded-bl-none {
    border-bottom-left-radius: 0;
}

@media (min-width: 768px) {
    .md\:backdrop-blur-0 {
        --tw-backdrop-blur: blur(0) !important;
        -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
        backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
    }

    .md\:pt-16 {
        padding-top: 4rem /* 64px */;
    }

    .md\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .md\:grid-auto-1fr {
        grid-template-columns: auto 1fr;
    }
}

@media (min-width: 1280px) {
    .xl\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
